/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************************
                Start of stylesheet 
***********************************************/

body {
	background-color: black;
	color: white;
	font-size: 2vh;
	font-family: 'Courier New', Courier, monospace;
}

body > * {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
}

body.title > #title {
	display: block;
}
body.howto > #howto {
	display: block;
}
body.game > #game {
	display: block;
}

#cvs {
    background-color: #000011;
    display: block;
	border-left: solid 2px #FFF;
	border-right: solid 2px #FFF;
    height: 100vh;
    width: calc(640 * 100vh / 640);
    margin: 0 auto;
}

pre, button {
	font-family: monospace;
	font-weight: normal;
	display: inline-block;
}

button {
	width: 30vh;
	padding: 0.4vh;
	text-align: center;
	margin: 2vh;
	font-size: 2.8vh;
	cursor: pointer;
	border-radius: 2vh;
}

.flex {
	position: absolute; 
	width: 100vw;
	top: 80vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
}

h1 {
	margin: 12vh 3vh;
	text-align:center;
}

h2, h3 {
	font-size: 4vh;
	margin: 6vh;
	text-align: center;
}
h3 {
	font-size: 3.6vh;
}
h4 {
	display: none;
	font-size: 3.6vh;
}
h4[data-score] {
	display: block;
	padding-left: 20vh;
}
h4:after {
	content: attr(data-score);
}

p {
	font-size: 3vh;
	margin: 2.4vh;
}

kbd {
	border: solid 2px #FFF;
	border-radius: 6px;
	font-size: 80%;
	padding: 2px 4px 0px;
}

#howto p {
	width: 90vh;
	margin-left: auto;
	margin-right: auto;
}

.bonus {
	color: lightgreen;
}

#score {
	position: absolute; 
	top: 0;
	left: calc(50vw + 50vh);
	font-size: 3vh;
	margin: 1vh 2vh;
}
#score:before {
	content: 'Score: ';
}
#score:after {
	content: attr(data-value);
}